.layout {
  background-image: url("../../img/main-background.jpeg");
  background-attachment: fixed;
  background-position: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}