
.welcome_container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  border-radius: 100px;
  padding-block: 1.5rem;
  padding-inline: 7%;
  margin-inline: 10%;
  border: 1px solid #edc339;
}

.welcome_container_small {
  opacity: 0;
}

.welcome_container_large {
  opacity: 1;
  transition: all 2s ease-in 0.1s;
}

.welcome_text {
  text-align: center;
  margin-bottom: 3%;
  font-size: 1.8rem;  
}

.welcome_text_small {
  opacity: 0;
  transition: 0s 180s;  
}

.welcome_text_large {
  opacity: 1;
  transition: all 1s ease-in 0.1s;
}

@media (min-width: 600px){ 
  .welcome_container {
    padding-block: 3rem;
    padding-inline: 10%;
  }
}

