.bttns_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 35%;
  height: 4.5rem;
  margin-top: 1%;
  padding: 2%;
}

.logInBttn, .logOut_bttn {
  background-color: rgba(237, 195, 57, 0.9);
  color: #ffffff;
  display: inline-block;
  text-align: center;
  width: 30%;
  height: 100%;
  padding: 0.6rem 1.2rem;
  border-radius: 100px;
  border: 1px solid #4095c6;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.logOut_bttn {
  background-color: transparent;
  width: 10%;
  height: 4rem;
  margin-top: 4%;
}

.logInBttn:hover, .logOut_bttn:hover {
  background-color: #4095c6;
  border: 1px solid #edc339;
}
