.cpage_container {
  background-color: #227aa1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 3%;
  margin: 0px;
}

.cpage_form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  margin-top: 5%;
}

.cpage_form_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  padding: 10%;
}

.cpage_form_button_section {
  padding: 5%;
  display: flex;
  justify-content: center;
}

