.landingV_containerA {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0;

  /* to toggle the hover, I would refactor in js */
  transition: 0s 180s; 
}

.landingV_containerA:hover {
  opacity: 1;
  transition: opacity 1s ease-in 0.6s;
}

.landingV_containerA:hover .section1 h1 {
  font-size: 2.5rem;
}

.section1 {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 2%;
  cursor: default;
  opacity: 1;
  transition: 1s;
}

.section1 h1 {
  font-size: 1.7rem;
  opacity: 1;
  text-align: center;
  transition: all 1s linear;
}

.section1_text {
  color: white;
  transition: color 3s;
}

.section1_text_after {
  color: black;
  transition: color 6s;
}

.title2 {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 70%;
  border-radius: 10px;
  opacity: 1;
  cursor: pointer;
  border: solid 1px #edc339;
  transition: all 1s linear;
}

.title2:hover {
  color: white;
  margin-bottom: 5%;
  transition: all 1s linear;
}

.title2 h1 {
  font-size: 1.7rem;
  opacity: 1;
  text-align: center;
  transition: all 1s linear;
}

.title2:hover h1 {
  opacity: 1;
  text-align: center;
  transition: all 3s linear;
}

.formV {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4%;
  padding-top: 0;
  width: 60%;
  height: 27rem;
  margin-top: 3rem;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  border: 1px solid black;
  transition: all 1s;
  border-radius: 5% 5% 5% 5%;
}

.formV input {
  opacity: 0.3;
}

.submitBttn {
  opacity: 1 !important;
}

.formV:hover {
  color: white;
  border: 1px solid #edc339;
}

.formV:hover .submitBttn {
  color: white;
  border: 1px solid #edc339;
  transition: all 1s;
}

.formV:hover input {
  opacity: 0.9;
  transition: 1s;
}

.form_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 23%;
}

.submitBttn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;  
}

.submitBttn {
  background-color: transparent;
  color: black;
  display: inline-block;
  text-align: center;
  width: 80%;
  height: 100%;
  padding: 0.6em 1.2em;
  border-radius: 100px;
  border: 1px solid #4095c6;
  font-size: 1.1rem;
  cursor: pointer;
  transition: color 1s;
}

.submitBttn:hover {
  background-color: #4095c6;
  border: 1px solid #edc339;
}

/* @media(pointer:coarse){
  .landingV_containerA {
    background-color: red;
    opacity: 1;
    transition: opacity 1s ease-in-out;
   }
} */

@media (min-width: 600px){
  .section1 {    
    width: 60%;
  }

  .section1 h1 {
    transition: all 1s;
  }

  .title2 {
    color: black;
    margin-bottom: 0px;
    border: solid 1px rgba(0, 0, 0, 0) !important;
    width: 55%;
  }

  .title2 h1 {
    opacity: 0;
  }

  .title2:hover {
    border: 1px solid #edc339 !important;
  }

  .formV {    
    width: 25%;
    height: 25rem;
    margin-top: 0;
    border: 1px solid #edc339;
  }

  .formV:hover {
    color: white;
    transition: all 1s;
  }

  .title2:hover + .formV {
    border: solid 1px rgba(0, 0, 0, 0);
    transition: all 1s;
  }

}