.header_containerA {
  padding: 1%;
}

.header_containerB {
  /* background-color: #193454; */
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem; 
  padding: 0.5%;
  /* background-size: 50%; */
  /* border: 3px solid #edc339; */
  border-radius: 5% 5% 5% 5%;
}

.header_logo_container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 3%; 
  width: 10rem;
  height: 7rem;
  border-radius: 100px;
  border: solid 0px #edc339;
  transition: background-color 1s;

  /* z-index: 50; */
}

.header_logo_container:hover {
  /* border: solid 1px #edc339; */
  background-color: rgba(237, 195, 57, 1);
  transition: background-color 1s;
}

.header_logo {
  width: 6rem
}

/* .header_quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  font-size: 1rem;
} */

/*.logo_after {
  opacity: 0.3;
  transition: 1s;
  height: 300px;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 3.5px;
}

.video_header {
  position: relative;
  border-radius: 505%;
}

.video_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  position: absolute;
  opacity: 0;
}

.video_containerAfter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  position: absolute;
  opacity: 0;
  transition: 1s;
}

.video_containerAfter:hover {
  opacity: 0.9;
  transition: 1s;
} */
