.header_containerA {
  padding: 1%;
}

.header_containerB {
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: darken;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem; 
  padding: 0.5%;
  background-size: 50%;
  /* border: 3px solid #edc339; */
  border-radius: 5% 5% 5% 5%;
}

.logo {
  height: 18rem;
  border-radius: 50%;
  border: solid 0px #edc339;
  transition: border 1s;
  /* z-index: 50; */
}

.logo:hover {
  border: solid 4px #edc339;
  transition: border 1s;
}

/*.logo_after {
  opacity: 0.3;
  transition: 1s;
  height: 300px;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 3.5px;
}

.video_header {
  position: relative;
  border-radius: 505%;
}

.video_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  position: absolute;
  opacity: 0;
}

.video_containerAfter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  position: absolute;
  opacity: 0;
  transition: 1s;
}

.video_containerAfter:hover {
  opacity: 0.9;
  transition: 1s;
} */
