
.textStyle{
    font-family:'Roboto',sans-serif;
    font-weight: 300;
}

/* START START START
HEADER HEADER HEADER */

/* END END END
HEADER HEADER HEADER */



/* START START START
WELCOME WELCOME WELCOME */

#welcome_container {
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    margin-top:5%;
    border-radius:10;
    height: 0px;
    width: 120px;
    padding: 0px;
    transition: 0s 180s;
    border: 5px solid black;

}

#welcome_text {
    opacity: 0;
    transition: 0s 180s

}

/* END END END
WELCOME WELCOME WELCOME */

.main_background {
    background-image: url("../img/main-background.jpeg");
    background-attachment: fixed;
    background-position: center
}

/* START START START
BUTTONS BUTTONS BUTTONS */




/* END END END
BUTTONS BUTTONS BUTTONS */



/* START START START
LOGGEDINV LOGGEDINV LOGGEDINV */


/* END END END
LOGGEDINV LOGGEDINV LOGGEDINV */



/* START START START
FOOTER FOOTER FOOTER */

/* END END END
FOOTER FOOTER FOOTER */