.textStyle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.main_background {
  background-image: url("../img/main-background.jpeg");
  background-attachment: fixed;
  background-position: center;
}
