.loggedInR_containerA {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.recruiter_section1 {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 2%;
  cursor: default;
  opacity: 1;
  transition: 1s;
}

.recruiter_section1 h1 {
  font-size: 1.7rem;
  opacity: 1;
  text-align: center;
  transition: all 1s linear;
}

.recruiter_section1_text {
  color: white;
  transition: color 3s;
}

.recruiter_section1_text_after {
  color: black;
  transition: color 6s;
}

@media (min-width: 600px){
  .recruiter_section1 {    
    width: 60%;
  }

  .recruiter_section1 h1 {
    transition: all 1s;
  }

}