html {
  font-size: 16px; 
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./img/main-background.jpeg");
  background-attachment: fixed;
  background-position: center;
}

h1 {
  font-weight: 300;
}

.form_input {
  margin-top: 7%;
  padding: 5%;
}