
.errorPage_containerA {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorPage_containerB {
  background-color: #227aa1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-block: 13rem;
}
